{% extends "layout.html" %}

{% block content %}

<div class="topnav">
      <a href={{ url_for('index') }}>Home</a>
      <a href={{ url_for('projects') }}>Projects</a>
      <a class="active"href={{ url_for('about') }}>About</a>
      <a href={{ url_for('contact') }}>Contact</a>
</div>
 <div id="container">
    <figure id="floated"><img class="l left" src="static/me_n_pup.jpg" alt="Me and some super cute doggo!" ></figure>
    <div id="about_me">
      <p>My name is Omar Chaarawi and I am an aspiring software developer and data scientist/engineer. I currently live in Boulder,
            Colorado where I am working as an arborist as I pursue a computer science education at CU Boulder. I first became interested
             in comp sci during an internship at MIT while I was earning my bachelor degree in chemistry at Ithaca College. I had the opportunity to
            work in a computational chemistry lab as an undergraduate research assistant. I was building models of molecules and using
            some physical chemistry computations way over my head. It was some really cool stuff, and I wish I had just switched over to comp
            sci then. I ended up finishing up my chemistry degree and did a little wandering while trying to determine what I really wanted to do.
            I found a free intro to computer science course through Harvard and was absolutely hooked after completing that. I enrolled in classes
            at CU Boulder and am planning on going through their Data Science masters program in the fall of 2021. 
      </p>

      <p>While taking Harvard's CS50: Intro to computer science class, we got to develop a small webpage for conduction mock trades. The site made use of 
            API's and databases. I thought it was really fun working on that and decided I would build a website from scratch using the Flask framework to
            continue developing my webdev skills. omarseven.com is my personal website built completely from scratch. It has been a really fun project and 
            just one of the many ways in which I am trying to further my experience as a developer. I have some other programming projects in various languages
            listed under the projects tab. </p>

      <p>Programming has taken up a big chunk of my time, but I am still able to also do a lot of things that I love and help me maintain balance while pursueing
            such a challenging field. I am big into running, climbing, backcountry skiing, mountain biking, and some other things the great state of Colorado is known for.
            If you're from Colorado and have a strava add me. I am always looking for new places to run.
      </p>
    </div>


    </div>

<iframe id="strava" height='240' width='450' frameborder='0' allowtransparency='true' scrolling='no'
src='https://www.strava.com/athletes/5587295/activity-summary/58acd52e2377ddfac260879a6f107b1ae098eb04'></iframe>

{% endblock %}