{% extends "layout.html" %}

{% block content %}

<div class="topnav" style="font-family: avenir">
      <a href={{ url_for('index') }}>
            <img class="logo"  src="static/logo_white.png" alt="logo">
            <img class="logo-hover" src="static/logo_black.png" alt="logo">
      </a>
      <a  href={{ url_for('projects') }} style="padding: 32px">Projects</a>
      <a class="active" href={{ url_for('about') }} style="padding: 32px">About</a>
      <a href={{ url_for('resume') }} style="padding: 32px">Resume</a>
      <a href={{ url_for('contact') }}  style="padding: 32px">Contact</a>
  </div>
 <div id="container">
    <figure id="floated"><img class="l left" src="static/me_n_pup.jpg" alt="Me and some super cute doggo!" ></figure>
    <div id="about_me" style="font-family: avenir">
      <p>My name is Omar Chaarawi and I am an aspiring software developer and data scientist/engineer. I live in Boulder,
            Colorado where I work as an arborist as I pursue a computer science education at University of Colorado Boulder. I first became interested
             in computer science during an internship at MIT while I was earning my bachelor degree in chemistry at Ithaca College. I had the opportunity to
            work in a computational chemistry lab as an undergraduate research assistant. I was building models of molecules and using
            physical chemistry computations to better understand molecular systems. The programming aspects stimulated me in a way chemistry had not. After
             I finished my chemistry degree I enrolled in classes at CU Boulder and started a track toward a computer science education.  
      </p>

      <p>My first official computer science class was Harvard's CS50: Intro to Computer Science. While taking CS50 there was a project developing a
            small webpage for conducting mock trades. The site made use of API's, used to pull stock data in real time and databases which were used to maintain 
            a record of user data. This was my initial exposure to building a website from scratch using a Flask framework. Omarchaarawi.com is my personal 
            website that I have built to represent some of my projects. It has also enhanced my website development skills. I have additional
            programming projects in various languages listed under the projects tab. </p>

      <p>By nature, programming is time consuming; however, I am able to maintain balance while I pursue this challenging field. I am a runner, 
            climber, backcountry skier and mountain biker. I enjoy the labor of these sports much like the labor of programming. The problem solving and
            challenge has been rewarding for me, and I am eager to start this next phase of my career.
      </p>
    </div>


    </div>

    <br>

<!--
<iframe id="strava" height='240' width='450' frameborder='0' allowtransparency='true' scrolling='no'
src='https://www.strava.com/athletes/5587295/activity-summary/58acd52e2377ddfac260879a6f107b1ae098eb04'></iframe>
-->


{% endblock %}
