{% extends "layout_projects.html" %}

{% block content %}
<!DOCTYPE html>

<h2><p></p></h2>



<div id = "project">
    <h1 id = "project_title"; style="color: black">Data Structures Final Project</h1>
    <figure id="floated"><img class="l left" style="padding-left: 10px; width: 600px;"
        src="static/data_struct.png" alt="Example graph of search time comparisons" ></figure>
    <p id="projects_desc"> 
        This was a final project for a data structures class. We were instructed to compare add and search times of
        USPS tracking numbers using various data structures we would implement without using libraries. During this project I chose to go beyond the requirements of the project
        by implementing a low maintenance trie structure capable of constant time lookups and adds. <a href = "https://github.com/omarchaarawi/Data_Structures_Final_Project">github link</a>
    </p>
</div>

<div id = "project">
    <h1 id = "project_title"; style="color: black">Image Processing Optimization</h1>
    <figure id="floated"><img class="l left" style="padding-left: 10px; width: 600px;"
         src="static/image_opt.png" alt="Example graph of search time comparisons" ></figure>
    <p id="projects_desc"> 
        This was part of a project to optimize code that would apply filters to a bmp image. I was able to achieve a speedup of about 25-30x on
        average by making use of techniques like loop unrolling, thread parallism, compact data structures, and more efficient algorithms. The image
        to the left shows an example original image and the application of 4 different filters. In the repository which I have included a link
        to you can find a FilterMain.cpp file which contains the bulk of the code used to apply filters to images.<br>
        <a href = "https://github.com/omarchaarawi/Image-Processing-Optimization">github link</a>
    </p>
</div>

<div id = "project">
    <h1 id = "project_title"; style="color: black">Shell Development</h1>
    <p id="projects_desc"> 
        Using the standard C/C++ library I implemented a simple shell program (tsh.c), capable of operating in a similar manner to common linux shells.
        The shell makes use of common techniques like forks, execs, and signal handlers to run jobs. You can follow the included github link to a repository
        containing my shell program. Clone the repository and then run make to compile the shell program which can be run as ./tsh.
        <a href = "https://github.com/omarchaarawi/tiny_shell">github link</a>
    </p>
</div>

{% endblock %}