{% extends "layout.html" %}

{% block content %}
<!DOCTYPE html>
<div class="topnav" style="font-family: avenir">
      <a class="active" href={{ url_for('index') }}>Home</a>
      <a href={{ url_for('projects') }}>Projects</a>
      <a href={{ url_for('about') }}>About</a>
      <a href={{ url_for('contact') }}>Contact</a>
</div>

<div class = "intro">
      <p>
            Hi, I'm Omar Chaarawi. <br>
            I'm an aspring Software Developer <br>
            Runner, and Climber living in Boulder, Colorado.
      </p>
</div>


{% endblock %}
