{% extends "layout.html" %}

{% block content %}
<div class="topnav" style="font-family: avenir">
    <a href={{ url_for('index') }}>
          <img class="logo"  src="static/logo_white.png" alt="logo">
          <img class="logo-hover" src="static/logo_black.png" alt="logo">
    </a>
    <a  class="active" href={{ url_for('projects') }} style="padding: 32px">Projects</a>
    <a href={{ url_for('about') }} style="padding: 32px">About</a>
    <a href={{ url_for('resume') }} style="padding: 32px">Resume</a>
    <a href={{ url_for('contact') }}  style="padding: 32px">Contact</a>
</div>


<a class="project_link" href={{ url_for('cpp') }} style="text-decoration: none" >
    <div id = "projects" style="font-family: avenir">
        <h1 style="font-family: avenir"> C/C++ Projects</h1>
        <p id="projects_desc"> Data Structures | Optimization | Shell Development</p>
    </div>
</a>

<a class="project_link" href={{ url_for('webdev') }} style= "text-decoration: none">
    <div id = "projects">
        <h1 style="font-family: avenir"> Web Development</h1>
        <p id="projects_desc" style="font-family: avenir"> Flask | omarseven.com | finance.com</p>
    </div>
</a>
<!-- 
<a class="project_link" href={{ url_for('python') }} style= "text-decoration: none">
    <div id = "projects">
        <h1 style="font-family: avenir">  Python </h1>
        <p id="projects_desc" style="font-family: avenir"> Data Wrangling | Cleaning | Analysis</p>
    </div>
</a>
-->

{% endblock %}
