{% extends "layout.html" %}

{% block content %}
<div class="topnav">
      <a href={{ url_for('index') }}>Home</a>
      <a class="active"href={{ url_for('projects') }}>Projects</a>
      <a href={{ url_for('about') }}>About</a>
      <a href={{ url_for('contact') }}>Contact</a>
</div>
<h1>Projects</h1>

<a id="project_link" href={{ url_for('cpp') }}>
    <div href={{ url_for('cpp') }}  id = "projects">
        <h1 id = "project_title"> C/C++</h1>
        <p id="projects_desc"> Data Structures | Optimization | Shell Development</p>
    </div>
</a>

    <div id = "projects">
        <h1 id = "project_title"> Web Development</h1>
        <p id="projects_desc"> omarseven.com | finance_thing.com</p>
    </div>

     <div id = "projects">
        <h1 id = "project_title"> Python</h1>
        <p id="projects_desc"> Hello this is a test
        of a description of my project.</p>
     </div>



    <div id = "projects">
        <h1 id = "project_title"> C/C++</h1>
        <p id="projects_desc"> Projects include data-structures and
        some other stuff.</p>
    </div>

    <div id = "projects">
        <h1 id = "project_title"> Web Development</h1>
        <p id="projects_desc"> Hello this is a test
        of a description of my project.</p>
    </div>

     <div id = "projects">
        <h1 id = "project_title"> Python</h1>
        <p id="projects_desc"> Hello this is a test
        of a description of my project.</p>
     </div>



    <div id = "projects">
        <h1 id = "project_title"> C++</h1>
        <p id="projects_desc"> Projects include data-structures and
        some other stuff.</p>
    </div>

    <div id = "projects">
        <h1 id = "project_title"> Web Development</h1>
        <p id="projects_desc"> Hello this is a test
        of a description of my project.</p>
    </div>

     <div id = "projects">
        <h1 id = "project_title"> Python</h1>
        <p id="projects_desc"> Hello this is a test
        of a description of my project.</p>
     </div>








{% endblock %}
