{% extends "layout.html" %}

{% block content %}
<div class="topnav">
      <a href={{ url_for('index') }}>Home</a>
      <a class="active"href={{ url_for('projects') }}>Projects</a>
      <a href={{ url_for('about') }}>About</a>
      <a href={{ url_for('contact') }}>Contact</a>
</div>


<a id="project_link" href={{ url_for('cpp') }} style= "text-decoration: none">
    <div id = "projects">
        <h1> C/C++ Projects</h1>
        <p id="projects_desc"> Data Structures | Optimization | Shell Development</p>
    </div>
</a>

<a id="project_link" href={{ url_for('webdev') }} style= "text-decoration: none">
    <div id = "projects">
        <h1> Web Development</h1>
        <p id="projects_desc"> Flask | omarseven.com | finance.com</p>
    </div>
</a>

<a id="project_link" href={{ url_for('python') }} style= "text-decoration: none">
    <div id = "projects">
        <h1>  Python </h1>
        <p id="projects_desc"> Data Wrangling | Cleaning | Analysis</p>
    </div>
</a>

{% endblock %}
