{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<div class="topnav" style="font-family: avenir">
      <a href={{ url_for('index') }}>
            <img class="logo"  src="static/logo_white.png" alt="logo">
            <img class="logo-hover" src="static/logo_black.png" alt="logo">
      </a>
      <a href={{ url_for('projects') }} style="padding: 32px">Projects</a>
      <a href={{ url_for('about') }} style="padding: 32px">About</a>
      <a class="active" href={{ url_for('resume') }} style="padding: 32px">Resume</a>
      <a href={{ url_for('contact') }}  style="padding: 32px">Contact</a>
</div>

<div>
      <img class="resume" src="static/OAC_resume.png" alt="resume">
</div>
{% endblock %}

