{% extends "layout_projects.html" %}

{% block content %}
<!DOCTYPE html>

<h2><p></p></h2>



<div id = "project">
    <h1 id = "project_title"; style="color: black"> Websites built using the Flask framework</h1>
    <p id="projects_desc" style="color: rgb(100, 100, 100)"> 
       I have built two websites from scratch using the Flask framework. Omarchaarawi.com is my personal portfolio website. Cs50finance is a site 
       I built during a class. omarchaarawi.com demonstrates more my style and web design, whereas cs50finance makes heavier use of the flask API
       to include implementation of a login feature, database managemeant using sqlite, and API calls used to gather stock information in real
       time. I have repositories where anyone can view the source code for both pages. Please see the following link.
       <h2><p></p></h2>
        <h2><p></p></h2>

        <a href = "https://github.com/omarchaarawi/cs50finance">Cs50finance</a>

    </p>
</div>


{% endblock %}